.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.information {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}
.information input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  margin: 5px;
}

button {
  width: 320px;
  height: 30px;
  margin-top: 10px;
}
button:hover {
  cursor: pointer;
}
.kaikki {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
  background-color: cadetblue;
}

.urheilija button {
  width: auto;
  height: auto;
}

.alaviite {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.7em;
  font-style: italic;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
